[submodule "code/containers"]
	path = code/containers
	url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds001734
	datalad-id = ca05bc10-29a0-11e9-9a7b-0242ac13000d
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds001734
